body {
    margin: 0%;
}

H1 {
    align-items: center;
    justify-content: center;
}

/* header  */
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav a {
    color: #6a6b6b;
    /* font-family: ; */
    text-decoration: none;
    margin: 0 0.3rem;
}

#Soccer {
    display: flex;
    padding: 10rem;
    background: url(images/Soccer.jpeg) #6a6b6b no-repeat center;
    background-size: cover;
}

main {
    text-align: center;
    color: #525252;
}

footer {
    text-align: center;
    padding-top: 6rem;
}

#Mydog {
    display: flex;
    padding: 13rem;
    background: url(images/Benny.jpeg) #6a6b6b no-repeat center;
    background-size: cover;
    
}

#PS5 {
    display: flex;
    padding: 13rem;
    background: url(images/PS5.jpg) #6a6b6b no-repeat center;
    background-size: cover;
}