body {
    margin: 0%;
}

H1 {
    align-items: center;
    justify-content: center;
}

/* header  */
header {
    display: flex;
    padding: 1rem;
}

nav a {
    color: #6a6b6b;
    /* font-family: ; */
    text-decoration: none;
    margin: 0 0.3rem;
}
 
/* sonny */
#Sonny {
    display: flex;
    align-items: center;
    padding: 4rem;
    flex-direction: column;
    background: url(Images/City\ background.jpg) #676670 no-repeat center;
    background-size: cover;
}

#Sonny {
    color: white;
}

#Sonny h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: normal;
}

#Sonny h4 {
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 400;
    margin: -1rem 0 1rem ;
}

#Sonny p {
    padding: -1rem; 
}

#Aboutme{
   color: #525252;
   text-align: center;
}

footer {
    text-align: center;
}

main {
    text-align: center;
    color:#525252;
}

main a {
    text-decoration: none;
    color: #6a6b6b;
}