body {
    margin: 0%;
}

footer {
    text-align: center;
}

/* header  */
header {
    display: flex;
    padding: 1rem;
}

nav a {
    color: #6a6b6b;
    /* font-family: ; */
    text-decoration: none;
    margin: 0 0.3rem;
}
 
/* sonny */

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 8vh;
    padding: 8rem 8rem;
   margin: 5rem 0;
}


#Sonny {
    display: flex;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
    background: url(Images/City\ background.jpg) #676670 no-repeat center;
    background-size: cover;
}

#Sonny {
    color: white;
}

#Sonny h1 {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: normal;
    padding-top: 1rem;
}

#Sonny h4 {
    font-size: 1.7rem;
    font-weight: 400;
    margin: -1rem 0 1rem ;
}

#Sonny div {
    text-align: center;
    padding-bottom: 3rem;
}

/* about me  */
#Aboutme{
   color: #525252;
   text-align: center;
}

#Aboutme p {
    font-size: 1.1rem;
}

#Aboutme h2 {
    font-size: 1.7rem;
   margin-top: 0.7rem;
}

/* take a look around home page  */
section h2 {
    font-size: 2.5rem;
    font-weight: 500;
   text-align: center;
    color: #525252;
    margin: 0 10rem;
    padding-bottom: 1.5rem;
}

/* blog post page header */ 
#Blogposts h2{
    display: flex;
    align-items: center;
    padding: 8rem;
    flex-direction: column;
    background: url(Images/BlogBG.jpg) #676670 no-repeat center;
    background-size: cover;
    font-size: 3rem;
}

/* Social links  */
#social-links {
    display: flex;
    justify-content: center;
    background-color: #6a6b6b;
    color: white;
    text-align: center;
}

#social-links div div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#social-links p {
    margin: 0 0 0.5rem;
}

#social-links #Github{
    height: 50px;

}

/* images on blog posts page */
main article img {
    height: 25rem;
    width: 40rem;
    border: 2px solid #525252;
    display: inline-block;
    margin-top: 2rem;
}
